<a href="https://colab.research.google.com/github/dwei-cn/python-tricks/blob/main/robinhood_hack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install robin-stocks
#!pip install config

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: robin-stocks in /usr/local/lib/python3.8/dist-packages (2.1.0)
Requirement already satisfied: cryptography in /usr/local/lib/python3.8/dist-packages (from robin-stocks) (39.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from robin-stocks) (2.25.1)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.8/dist-packages (from robin-stocks) (0.21.1)
Requirement already satisfied: pyotp in /usr/local/lib/python3.8/dist-packages (from robin-stocks) (2.8.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography->robin-stocks) (1.15.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->robin-stocks) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->robin-stocks) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->robin-stocks) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->robin-stocks) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography->robin-stocks) (2.21)

In [ ]:
#import config
import datetime
import pandas as pd
import robin_stocks.robinhood as r

username = 'darken.vi@hotmail.com'
password = 'WoXihuanchi0@'

today = datetime.date.today()

# ordered_columns = [
#     'name',
#     'quantity',
#     'price',
#     'average_buy_price',
#     'percent_change',
#     'equity',
#     'type',
#     'percentage'
# ]

login = r.login(username, password)

In [ ]:
df = pd.DataFrame.from_dict(r.build_holdings())
transpose = df.T
transpose = transpose.drop(['id', 'equity_change', 'pe_ratio'], axis=1)
transpose = transpose.sort_index()

#transpose.to_csv(f'robinhood-{today}.csv', header=True, columns=ordered_columns, index=True)

In [ ]:
df

,AAPL,TQQQ,JNUG,KO,BRK.B,SBUX,MSFT,MCD,UNH,ETN,BABA
price,138.150000,20.470000,45.480000,60.060000,309.870000,105.060000,240.400000,268.580000,486.720000,155.510000,119.950000
quantity,0.41355200,2.00000000,1.00000000,0.29294400,0.00314800,0.28449500,0.21083200,0.07488800,0.05203200,0.12567100,0.22024400
average_buy_price,120.9038,19.8450,44.8800,61.4452,317.6620,105.4500,237.1556,267.0655,480.4736,159.1457,113.5105
equity,57.13,40.94,45.48,17.59,0.98,29.89,50.68,20.11,25.33,19.54,26.42
percent_change,14.26,3.15,1.34,-2.25,-2.45,-0.37,1.37,0.57,1.30,-2.28,5.67
intraday_percent_change,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
equity_change,7.132201,1.250000,0.600000,-0.405786,-0.024529,-0.110953,0.684023,0.113418,0.325013,-0.456902,1.418261
type,stock,etp,etp,stock,stock,stock,stock,stock,stock,stock,adr
name,Apple,ProShares UltraPro QQQ,Direxion Daily Junior Gold Miners Index Bull 2...,Coca-Cola,Berkshire Hathaway,Starbucks,Microsoft,McDonald's,UnitedHealth,Eaton,Alibaba
id,450dfc6d-5510-4d40-abfb-f633b7d9be3e,91f7ea28-e413-4ca4-b9fa-91f5822f8b8d,f1ebb4d7-fe71-4fab-b8da-e720c2e8f823,bb9a01df-5982-42d4-88db-8662f23cdab5,a4f0cca4-79dc-4297-9c02-5bce1909cd4b,18c7a7ad-3527-47b4-84b4-ce4db0106531,50810c35-d215-4866-9758-0ada4ac79ffa,41eac3c6-f7f7-4c4a-b696-ab9d1b913981,1abfbfc7-6c65-4ded-8a97-1e7f82220b64,98245487-3340-42c9-888d-1a97743466b5,b2e06903-5c44-46a4-bd42-2a696f9d68e1
pe_ratio,22.552800,None,None,26.335900,None,37.082500,25.886300,33.833000,22.981300,27.231800,307.886000
percentage,13.22,9.48,10.53,4.07,0.23,6.92,11.73,4.66,5.86,4.52,6.11

In [ ]:
positions_data = r.get_all_positions()
df = pd.DataFrame.from_dict(positions_data)

In [ ]:
r.get_

# Options

In [ ]:
option_trades = pd.DataFrame(r.get_all_option_orders())
#option_trades.columns

In [ ]:
option_trades_filled = option_trades[['account_number', 'chain_symbol', 'state', 'created_at', 'quantity', 'direction', 'premium', 'opening_strategy', 'closing_strategy']]
option_trades_filled = option_trades[['chain_symbol', 'state', 'created_at', 'quantity', 'direction', 'premium', 'opening_strategy', 'closing_strategy']]

In [ ]:
option_trades_filled = option_trades_filled[option_trades_filled['state'] == 'filled'].sort_values(by = 'chain_symbol')

In [ ]:
option_trades_filled

,chain_symbol,state,created_at,quantity,direction,premium,opening_strategy,closing_strategy
1,MSFT,filled,2023-01-20T16:51:28.937402Z,1.00000,credit,80.00000000,short_put_spread,None
45,NIO,filled,2023-01-18T17:58:05.785306Z,1.00000,debit,16.00000000,None,short_put
51,NIO,filled,2023-01-13T19:52:01.292366Z,1.00000,credit,15.00000000,short_put,None
53,NIO,filled,2023-01-13T17:52:18.909366Z,1.00000,debit,4.00000000,None,short_put
55,NIO,filled,2023-01-12T08:51:25.769899Z,1.00000,credit,4.00000000,short_put,None
15,SBUX,filled,2023-01-19T20:00:48.877503Z,1.00000,debit,18.00000000,None,short_call_spread
46,SBUX,filled,2023-01-18T16:58:38.464311Z,1.00000,credit,34.00000000,short_call_spread,None
41,SPY,filled,2023-01-18T18:09:05.241752Z,1.00000,credit,45.00000000,short_call_spread,None
30,SVM,filled,2023-01-19T17:20:15.492563Z,1.00000,debit,40.00000000,long_call,None
26,UNH,filled,2023-01-19T17:46:42.561636Z,1.00000,credit,80.00000000,short_put_spread,None
32,WFC,filled,2023-01-19T17:02:48.445332Z,1.00000,debit,16.00000000,None,short_call_spread
36,WFC,filled,2023-01-19T16:24:23.155755Z,1.00000,credit,12.00000000,short_call_spread,None
37,WFC,filled,2023-01-19T16:18:11.801837Z,1.00000,debit,43.00000000,None,short_put_spread
49,WFC,filled,2023-01-17T16:32:25.637577Z,1.00000,credit,20.00000000,short_put_spread,None

In [ ]:
option_trades_filled['profit'] = option_trades_filled.apply(lambda x: float(x['premium']) * float(x['quantity']) if x['direction'] == 'credit' else -1 * float(x['premium']) * float(x['quantity']),
                           axis = 1)

In [ ]:
option_trades_filled

,account_number,chain_symbol,state,created_at,quantity,direction,premium,opening_strategy,closing_strategy,profit
1,923872220,MSFT,filled,2023-01-20T16:51:28.937402Z,1.00000,credit,80.00000000,short_put_spread,None,80.0
45,923872220,NIO,filled,2023-01-18T17:58:05.785306Z,1.00000,debit,16.00000000,None,short_put,-16.0
51,923872220,NIO,filled,2023-01-13T19:52:01.292366Z,1.00000,credit,15.00000000,short_put,None,15.0
53,923872220,NIO,filled,2023-01-13T17:52:18.909366Z,1.00000,debit,4.00000000,None,short_put,-4.0
55,923872220,NIO,filled,2023-01-12T08:51:25.769899Z,1.00000,credit,4.00000000,short_put,None,4.0
15,923872220,SBUX,filled,2023-01-19T20:00:48.877503Z,1.00000,debit,18.00000000,None,short_call_spread,-18.0
46,923872220,SBUX,filled,2023-01-18T16:58:38.464311Z,1.00000,credit,34.00000000,short_call_spread,None,34.0
41,923872220,SPY,filled,2023-01-18T18:09:05.241752Z,1.00000,credit,45.00000000,short_call_spread,None,45.0
30,923872220,SVM,filled,2023-01-19T17:20:15.492563Z,1.00000,debit,40.00000000,long_call,None,-40.0
26,923872220,UNH,filled,2023-01-19T17:46:42.561636Z,1.00000,credit,80.00000000,short_put_spread,None,80.0
32,923872220,WFC,filled,2023-01-19T17:02:48.445332Z,1.00000,debit,16.00000000,None,short_call_spread,-16.0
36,923872220,WFC,filled,2023-01-19T16:24:23.155755Z,1.00000,credit,12.00000000,short_call_spread,None,12.0
37,923872220,WFC,filled,2023-01-19T16:18:11.801837Z,1.00000,debit,43.00000000,None,short_put_spread,-43.0
49,923872220,WFC,filled,2023-01-17T16:32:25.637577Z,1.00000,credit,20.00000000,short_put_spread,None,20.0

In [ ]:
option_trades_filled['profit'].sum()

153.0